.cheese,
.bacon,
.salad,
.meat {
  width: 30%;
  margin: auto;
}

.cheese {
  border: 3px solid orange;
}
.meat {
  border: 3px solid red;
}

.bacon {
  border: 3px solid rgb(255, 111, 0);
}
.salad {
  border: 3px solid green;
}
